* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.name span {
 color: gray;
}

body {
 color: white;
 font-family: Helvetica, Arial, sans-serif;
 background-color: #222222;
}

.navigation li{
    list-style-type: initial;
    margin: 0;
    top: 1.5cm;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation li {
    float: center;
    display: block;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover{
    color: #BBCDE5;
}

.aboutme p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: gold;
    border-style: dashed;
    border-bottom: dashed;
}

.projects img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 50%;
  }

  .container img {
    display: block;
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 50%;
    width: auto;
  }

  .music {
    margin-top: 10%;
  }

  .contact {
      background-color: teal;
      color: tomato;
      font-family: fantasy;
      display:flex;
      align-items: center;
      justify-content: space-around;
  }
  
  .contact a:link {
      color: tomato;
      background-color: transparent;
      text-decoration: none;
  }

  .contact i {
      font-size: 30px;
  }