* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.name span {
 color: gray;
}

body {
 color: white;
 font-family: Helvetica, Arial, sans-serif;
 background-color: #222222;
}

.navigation {
    color: #639FAB;
    background-color: #1C5D99;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    top: 1.5cm;
    padding: 0;
}
.navigation li {
    float: right;
    display: inline;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover{
    color: #BBCDE5;
}

.projects img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 50%;
  }

  .container img {
    display: block;
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 50%;
    width: auto;
  }

  .music {
      margin-top: 10%;
  }

  .contact {
      background-color: teal;
      color: tomato;
      font-family: fantasy;
      display:flex;
      align-items: center;
      justify-content: space-around;
  }
  
  .contact a:link {
      color: tomato;
      background-color: transparent;
      text-decoration: none;
  }