* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.name span {
 color: gray;
}

body {
 color: white;
 font-family: Helvetica, Arial, sans-serif;
 background-color: #222222;
}

.navigation {
    color: #639FAB;
    background-color: #1C5D99;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    top: 1.5cm;
    padding: 0;
}
.navigation li {
    float: right;
    display: inline;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover{
    color: #BBCDE5;
}

